<div class='container'>
<h2><%= @restaurant.name %></h2>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item"><%=review.content%></li>
    <li class="list-group-item"><p><em>Rating:</em></p><%=review.rating%></li>
  <% end %>
</ul>
<%= link_to "Back to all restaurants", restaurants_path, class: "btn btn-dark" %>
<%= link_to 'Leave a review', new_restaurant_review_path(@restaurant), class: "btn btn-dark" %>
</div>
